body {
  margin: 0;
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-8)
  );
}

.content-visibility-auto {
  content-visibility: auto;
  contain-intrinsic-size: auto 50px;
}
